.header {
  width: 100%;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.header a {
  text-decoration: none;
  color: #636970;
  padding-right: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
}

.header a:hover {color: #101010;}

.mainimage {
  max-height: 375px;
  overflow: hidden;
  padding-bottom: 32.5%;
  position: relative;
  background-image: url(background.jpg);
}

.mainimage img {
  max-width: 100%;
}

.mainimage .text {
    position:absolute;
    text-align:center;
    top: 38%;
    width: 100%;
    color: white;
    font-size: 45px;
    text-shadow: 1px 1px black;
}

.choices {
  padding-top: 4.4%;
}

.choices .left {
  float: left;
  width: 24%;
  text-align: center;
  background-color: #519150;
  color: white;
  height: 180px;
  margin-left: 12.5%;
}

.choices .center {
  display: inline-block;
  width: 24%;
  background-color: #2A4787;
  text-align: center;
  color: white;
  height: 180px;
  margin-left: 1.5%;

}

.choices .right {
  float: right;
  width: 24%;
  background-color: black;
  text-align: center;
  color: white;
  height: 180px;
  margin-right: 12.5%;
}

.choices .topbox {
  padding: 10%;
}

.membershiptype {
  font-size: 16px;
  letter-spacing: 3px;
}

.price {

}

.permonth {

}

.choices ul {
  list-style: none;
  padding: 0;
  margin-top: 0px;
}

.grayboxes {
  background-color: #F7F7F7;
  border: 1px solid #DDDDDD;
  padding: 4%;
  color: #516066;
}

.choosebox {
  border: 1px solid #DDDDDD;
  padding: 8%;
  font-weight: bold;
  color: #333333;
  border-radius: 2px;

}

.choosebutton {
  border: 1px solid #DDDDDD;
  border-radius: 100px;
  display: inline-block;
  padding: 8px 16px;

}

.sellingpoints {
  padding-top: 7.5%;
  width: 100%;
  text-align: center;

}

.sellingpointheader {

}

.sellingpointbody {
  position: absolute;
}

.topleft {
  float: left;
  margin-left: 12%;
  width: 35%;
  position: relative;
  text-align: left;
}

.topright {
  float: right;
  margin-right: 12%;
  width: 35%;
  position: relative;
  text-align: left;
}

.bottomright {
  float: right;
  margin-right: 12%;
  width: 35%;
  position: relative;
  padding-top: 15%;
  text-align: left;
}

.bottomleft {
  float: left;
  margin-left: 12%;
  width: 35%;
  position: relative;
  padding-top: 15%;
  text-align: left;
}

footer {
  clear: all;
}